@tailwind base;
@tailwind components;
@tailwind utilities;



.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* THIS makes drag/swipe feel natural */
* {
	scroll-behavior: smooth;
}