#loader
{
    width: 100%;
    height: 100vh;
    z-index: 10000;
    background-size: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}



body
{
    background-color: #ebf0ff;
    margin: 0;
    padding: 0;
}


nav{
    opacity: 1;
    transition: 0.5s ease-in-out;
}
footer{
    display: none;

}

footer a i{
    padding: 0 20px;
}
.fa-telegram-plane
{
    background-color: #577df3;
    padding: 1.5px 20px;
}
nav button{
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;


    
}
nav button i{
    font-size: 1rem;
}

main{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 2rem;
    
}

main div{
    width: 50%;
}

#pic{
    width: 23rem;
    height: 23rem;
    object-fit: cover;
    border: solid 0.5px rgba(0, 0, 0, 0.5);

}

#picBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

/* Define the animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply the animation to the main content with delay */
 main {
    animation: fadeIn 1s ease-in-out 0.1s forwards;
    opacity: 0; /* Ensure the element is initially hidden */
}

#desc{
    background-color: #ffffff;
    transform: translateX(-8%);
    padding: 1rem 2rem;
    text-align: left;
    border: solid 0.5px rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
}


table {
    width: 80%;
    border-collapse: collapse;
    font-weight: 400;
    margin-bottom: 4rem;
}
th, td {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
    line-height: 1.5;
    text-align: left;
    width: 50%; /* Each column takes 50% width */
    background-color: #f2f2f2;
}
th {
    background-color: #577df3;
    color: #fff;
}


.projectBox{
    background-color: #d8e2ff;
    color: #000;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: solid 0.5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 3rem 0;  
    gap: 1rem;
}
.imgBox{
    width: 60%; /* Adjust as needed */
    height: 10rem;
    object-fit: cover;
    overflow: hidden;
    
    
}

.projectDesc{
    width: 70%;
    height: 5rem;
    overflow: auto;

}

.checkBtn button{
    border: none;
    background-color: #577df3;
    color:#fff;
    padding: 0.3rem 2rem;
}


#projectGrid{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
    gap: 3rem;
    margin-bottom: 4rem;
}

a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1250px) {
    #close
    {
        display: block !important;
        margin-left: 88%;
    }
    nav 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-260px);
        margin-top: 0;
        
    }

    #pic 
    {
        border-radius: 100%;
        width: 15rem;
        height: 15rem;
        
    }
    #picBox
    {
        transform: translateY(-280px);
    }

    #desc{
        background-color: #ffffff;
        width: 80vw;
        text-align: left;
        border: solid 0.5px rgba(0, 0, 0, 0.5);
        transform: translateY(-330px);
        margin-bottom: -280px;
    }

    table {
        transform: translateY(-250px);
        margin-bottom: -200px;
        width: 95%;
        border-collapse: collapse;
        font-weight: 400;  
    }
    th, td {
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        line-height: 1.5;
        text-align: left;
        width: 50%; /* Each column takes 50% width */
        background-color: #f2f2f2;
    }
    th {
        background-color: #577df3;
        color: #fff;
    }

    .projectBox
    {
        width: 80%;
    }

    #projectGrid
    {
        transform: translateY(-240px);
        margin-bottom: -200px;
        justify-content: center;
    }
    


}

@media screen and (max-width: 450px) {
    .projectBox
    {
        width: 100%;
    }
}

@media screen and (max-width: 850px)
{
    .projectBox
    {
        width: 80%;
    }
}

